sphinx
mock
bumpversion
pytest
build
twine

coverage
coveralls
pytest-cov
pytest-xdist
urllib3

# py27 compat
typing-extensions; python_version <= "2.7"

# Code Quality
pylint

# py3 env for mypy
# mypy
# types-urllib3
# types-six
